@font-face {
  font-family: pokemon;
  src: url('assets/Pokemon-Hollow.ttf');
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 2px;
  background: #353535;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(202, 202, 202);
  font-family: sans-serif;
}

header {
  height: 85px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #353535;
  font-family: pokemon;
}

.logo {
  width: 70px;
  margin-left: 70px;
  margin-top: 0px;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 35px;
  margin-left: 17px;
  font-size: 45px;
  color: rgba(250, 208, 37, 1);
}

p {
  margin: 0;
}

.article{
  display: flex;
  height: 80vh;
}

.pokemonListContainer {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  margin-left: 35px;
  margin-top: 15px;
  border-radius: 15px;
  padding-bottom: 5px;
  background-color: #ffffff;
}

.search-bar-container {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #353535;
}

#search {
  width: 250px;
  height: 20px;
  border-radius: 10px;
  background-image: url('assets/search_icon.svg');
  background-position: right 90% bottom 50%;
  background-repeat: no-repeat;
}

.filter {
  display: flex;
  justify-content: flex-end;
  margin: 20px 20px 20px 50px;
}

#orderedByAlphabet {
  margin-right: 20px;
}

#filterByType {
  margin-left: 10px;
}

#pokemonList {
  display: flex;
  height: 85%;
  flex-flow: row wrap;
  justify-content: space-around;
  overflow-y: auto;
  overflow-x: hidden;
}

.card {
  display: flex;
  width: 20%;
  height: auto;
  flex-direction: column;
  max-height: 65%;
  align-items: center;
  margin-top: 15px;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
  border: 5px solid #afafaf80;
  border-radius: 7px;
  background-color: rgb(224, 222, 222);
}

.pokemon-image {
  width: 90%;
  margin-top: 5px;
  border-radius: 10px;
  background-color: #afafaf80
}

.pokemon-image img {
  width: 100%;
}

.name-and-number {
  font-size: 5px;
  width: 100%;
}

.name {
  text-align: center;
  margin: 10px 0 2px 0;
  font-size: 17px;
}

.pokemonNumber {
  text-align: left;
  font-size: 13px;
  margin: 0 10px 20px 25px;
  color: #353535;
}

.element-title {
  font-size: 13px;
}

.pokemonInfo {
  width: 90%;
  height: 60px;
  text-align: left;
  border-radius: 5px;
  border: 2px solid rgba(65, 12, 60, 0.2);
  padding-left: 5px;
  padding-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  background-color: rgba(191, 221, 209, 0.2);
}

.elements {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 15px;
}

.label {
  width: 45%;
  font-size: 12px;
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 4px;
}

.label-bug {
  background-color: #729f3f;
}

.label-dragon {
  color: #ffffff;
  background-color: #53a4cf;
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
}

.label-fire {
  color: #ffffff;
  background-color: #fd7d24;
}

.label-ghost {
  color: #ffffff;
  background-color: #7b62a3;
}

.label-ground {
  background-color: #f7de3f;
  background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
}

.label-normal {
  background-color: #a4acaf;
}

.label-psychic {
  color: #ffffff;
  background-color: #f366b9;
}

.label-electric {
  background-color: #eed535;
}

.label-fighting {
  color: #ffffff;
  background-color: #d56723;
}

.label-flying {
  color: #ffffff;
  background-color: #3dc7ef;
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
}

.label-grass {
  background-color: #9bcc50;
}

.label-ice {
  color: #ffffff;
  background-color: #51c4e7;
}

.label-poison {
  color: #ffffff;
  background-color: #b97fc9;
}

.label-rock {
  color: #ffffff;
  background-color: #a38c21;
}

.label-water {
  color: #ffffff;
  background-color: #4592c4;
}

.rightContainer {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  margin: 15px 35px 50px 40px;
}

.title {
  display: flex;
  width: 100%;
  height: 29px;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  padding: 20px 0px 20px 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-size: 17px;
  color: #ffffff;
  background-color: #353535;
}

.chart {
  display: flex;
  height: 80%;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #ffffff;
}


.madeBy {
  display: flex;
  height: 20%;
  min-height: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #353535;
}

.madeBy a {
  color: #ffffff;
}

.madeBy a:link,
a:visited {
  text-decoration: none
}

.madeBy a:hover {
  text-decoration: underline;
  color: rgb(255, 253, 253)
}

.madeBy a:active {
  text-decoration: none
}




@media only screen and (max-width: 800px) {
  header {
    padding: 0;
    width: 100%;
  }

  .pokemonListContainer {
    display: flex;
    width: auto;
    margin: 10px 5px 5px 5px;
    min-height: 400px;
  }
  
  #pokemonList {
    height: 400px;

  }

  .card {
    width: auto;
    max-height: 250px;
  }

  .logo {
    width: 70px;
    margin-left: 20px;
    margin-top: 0px;
  }

  h1 {
    width: auto;
  }
  
  .article{
    display:flex;
    flex-flow: column nowrap;
  }


  .rightContainer {
    display: flex;
    width: 95%;
    height: auto;
    margin-left: 5px;
    align-items: flex stretch;
  }
  
  
  .chart {
    align-items: center;
    height: auto;
    padding: 20px 0px 20px 0px;
    min-height: 200px;
  }


  .madeBy {
    height: 50px;
    margin-top: 10px;
    background-color: #353535;
    height: 30px;
 }
  }
  
  